body {
    background-image: url(/public/img/bg.jpg)
}

h1 {
    margin-left: 150;
    margin-top: 200;
    opacity: 0.9;
    color: #eff7de
}

form {
    margin-left: 150;
    opacity: 0.9;
    color: #eff7de
}

input {
    margin: 5px auto;
}

table {
    margin-left: 150;
    margin-top: 200;
    opacity: 0.9;
    color: #eff7de
}