<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/public/css/main.css"/>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="/public/js/showStatic.js"></script>
        <title>login page</title>
    </head>
    <body>
        <div id="hello">
            <h1>Hello, Client!</h1>
            <form method="POST" action="/info">
                username: <input type="text" name="Username"><br/><br/>
                password: <input type="password" name="Password"><br/><br/>
                <input type="submit" value="login"><br/><br/>
                js test: <input type="button" onclick="myfunction()" value="response">
            </form>
        </div>
    </body>
</html>